.modalDialog1 {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog1:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog1 > div {
	position: relative;
	margin: 10% 15em;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

/* .container {
  background-color: #f6f6f6;
  color: #1a1a1b; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 70%;
}

.card {
  border: 1px solid #ff4500; 
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;  Slightly darker background 
}
  
.card-title {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #1a1a1b;
}

.card-text {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 10px;
}
  
  h3 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  .comment-card {
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #1b1b1b;
    border: 1px solid #ff4500;
  }
  
  .comment-text {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
  }

  .form-control {
    background-color: #ffffff;
    color: #1b1b1b;
    border: 1px solid #ff4500;
    border-radius: 10px;
  }

  .btn-primary {
    background-color: #ff4500;
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
  }
  
  .btn-primary:hover {
    background-color: #ff8c5a;
    color: #f5f5f5d1;
  }

  .edit {
    background-color: #2e932e;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 50px;
    height: 32px;
  }

  .delete {
    background-color: #c03535;
    color: #fff;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    width: 50px;
    height: 32px;
  }

  .edit:hover, .delete:hover{
    background-color: #2d2d2d;
  } */